/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2018, 12:44:23 PM
    Author     : Buwaneka
*/

#background{
    background-image: url(../pics/docs.jpg);
    background-size: cover;
}

#content{
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    font-weight: bold;
    font-size:3vw;
    color: #fff;
    text-shadow: 0 0 6px #000000;;
}

#search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../pics/searchicon.png);
    background-position: 5px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/*#search:focus {*/
    /*width: 50%;*/
/*}*/

/*#search:bl {*/
    /*width: 50%;*/
/*}*/

#result{
    background-color: #ccf7d5;
    margin: 3px;
    margin-left: 50px;
    padding: 10px;
    padding-right: 100px;
    padding-left: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray;
    transition: box-shadow 300ms ease-in-out;
}

#result:hover{
    box-shadow: 2px 2px 2px gray;
}